@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes pulse-glow {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
}

.animate-pulse-glow {
  animation: pulse-glow 2s ease-in-out infinite;
}